Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.0
python-decouple==3.8
PyMySQL==1.1.0
django-celery-beat==2.5.0
celery==5.3.4
redis==5.0.1
django-filter==23.3

# For Upstash Redis SSL support
certifi==2023.11.17

# Optional but recommended
black==23.11.0
pylint==3.0.2

gunicorn==21.2.0

whitenoise==6.6.0

setuptools>=68.0.0


